* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: whitesmoke;
  line-height: 1.4;
  letter-spacing: 0.02rem;
}

#root {
  width: 100dvw;
  height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 100dvw;
  height: 100dvh;

  background-image: url('./assets/sky.png');
  background-size: cover;
  background-position: center;
  background-color: black;
}



header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
}


main {

  display: flex;
  flex-direction: column;
  align-items: center;
}
main > * {
  font-size: 1.1rem;
  width: 30rem;
  padding: 0.5rem 1rem;
}

main input {
  color: #00000000;
  border: 0;
  border-bottom: 3px solid #868686;
  border-radius: 8px 8px 0 0;
  caret-color: #868686;
  caret-shape: block;
  transition: 0.5s;
  background: #14141400; 
  z-index: 10;
}
main input:focus-visible {
  outline: none;
  /* border-bottom: 6px solid #868686; */
  background: #141414cb; 
  box-shadow: 5px 5px 10px 0 #141414cb;
}


.floatingTextWrapper {
  position: absolute;
  
  display: flex;
  gap: 0.244rem; /* Simulate a space */
}

.floatingTextWrapper * {
  z-index: 20;
}


button {
  margin: 0.5rem;
  border: 0;
  padding: 0.4rem 0.9rem;
  border-radius: 5px;
  background-color: #141414;
  cursor: pointer;
}

.showInfo {
  position: absolute;
  margin: auto;

  background-color: #141414;
  border-radius: 8px;
  padding: 1rem;
  max-width: 30rem;

  z-index: 100;
}
.showInfo * {
  margin: 0.3rem 0;
}
.showInfo button {
  margin: 1rem auto 0 auto;
  display: block;
  background-color: #313131;
}
.showInfo ul {
  padding-left: 1rem;
}