#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url('./assets/sky.png');
  background-size: cover;
  background-position: center;
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: grid;
  place-items: center; */
}
main > * {
	/* grid-column: 1 / -1;
	grid-row: 1 / -1; */
}
main input {
  padding: 0.5rem 1rem;
  width: 10vw;
  background: none;
  border: 3px solid #141414;
  border-radius: 5px;
}

main label {
  text-align: left;
  width: 100%;
}

#floatingText {
  position: absolute;
}